@import "../../scss/variable";
@import "../../scss/mixins";

.userprofile {
  &-container {
    display: flex;
    @include respond(phone) {
      flex-direction: column;
    }
    &-sidebar {
      width: 16%;
      background-color: $blue;
      @include respond(phone) {
        display: none;
      }
    }
    &-userview {
      width: 20%;
      border-right: 2px solid $light-gray;
      @include respond(phone) {
        border: none;
        width: 100%;
      }
      &-center {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-container {
        margin-top: 7rem;
        &-profile {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          &-image {
            height: 8rem;
            width: 8rem;
            box-shadow: 2px 2px 10px gray;
            border-radius: 50%;
            overflow: hidden;
            & > img {
              margin-top: 1.2rem;
              margin-left: 0.7rem;
            }
          }
          &-edit {
            cursor: pointer;
            margin-top: -1rem;
            & > img {
              background-color: $blue;
              padding: 0.4rem 0.4rem;
              border-radius: 50%;
              height: 1rem;
            }
          }
        }
        &-info {
          margin-top: 1rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          & > h1 {
            font-weight: 700;
            font-size: 1.8rem;
          }
          & > p {
            font-size: 1.2rem;
            color: $light-gray;
          }
        }
      }
    }
    &-form {
      width: 64%;
      background-image: url("../../assets/userback.png");
      @include respond(phone) {
        width: 100%;
      }
      &-container {
        padding-top: 5rem;
        padding-bottom: 5rem;
        width: 60%;
        margin: auto;
        @include respond(phone) {
          width: 90%;
        }
        &-flex {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &-left {
            width: 45%;
          }
          &-right {
            width: 45%;
          }
        }
      }
    }
  }
}

// Btn down
.changes-btn {
  margin-top: 2rem;
}
